<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogAuth</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../../../public/styles/main.css">
  <link rel="stylesheet" href="../../../public/styles/partials/about.css">
</head>
<body>
  <div id="container">
    <div class="hello-container">
      <div class="hello-about">
        <div class="hello-title">
          <strong>Olá, usuário!</strong>
        </div>
        <div class="hello-github">
          <a href="http://github.com/leandro-hd" target="_blank">
            <img src="../../../public/images/icons/github.png" alt="http://github.com/leandro-hd">
          </a>
        </div>
      </div>
    </div>
    <div class="about-container">
      <div class="about">
        <div class="about-title">
          <strong>LogAuth</strong>
        </div>
        <div class="about-text">
          <p> &nbsp; &nbsp; Este é um projeto de autenticação e validação de usuários, no qual foi criada uma API para a criação e validação de registros, com funcionalidades para a redefinição de senha. Para ter acesso ao código do projeto, clique no botão abaixo. Se quiser visualizar outros projetos, clique no ícone do GitHub.</p>
        </div>
        <div class="about-button">
         <a href="https://github.com/leandro-hd/authentication-api-ts" target="_blank">Visualizar código no GitHub</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>