#container {
  background: var(--color-primary);
  width: 84.375%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
}

.logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-container img {
  width: 92.592%;
  height: 92.592%;
}

.register-forgot {
  margin-top: 1.25rem;
  padding-left: 2.25rem;
}

.register-forgot a {
  color: var(--color-secondary);
  text-decoration: none;
}

.register-forgot a:hover {
  color: var(--color-background);
}

@media (max-width: 1100px) {
  #container {
    height: 85%;
    display: block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .logo-container {
    width: 70%;
    height: 75%;
    align-items: center;
    justify-content: center;
    margin: 3rem auto auto;
  }

  #form-container {
    background: var(--color-primary);
    padding: 0 7.8125% 0 8.828125%;
  }
  
  .register-forgot {
    margin-top: 2.5rem;
    padding-left: 0;
    text-align: center;
  }
    
  .register-forgot a:hover {
    color: var(--color-secondary);
  }
}

@media (max-width: 700px) {
  .logo-container {
    height: 35%;
  }
}